<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="col-md-6 col-md-offset-3">
		
			<%= link_to 'Schedule a class now!', schedule_class_path  %>
		
	</div>
<br>
<br>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
				<%= t('class_info_html') %>
		</div>
	</div>
</body>
</html>